apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "trufflehog.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "trufflehog.labels" . | nindent 4 }}
  annotations:
    {{- include "trufflehog.annotations" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "trufflehog.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "trufflehog.podLabels" . | nindent 8 }}
      annotations:
        {{- include "trufflehog.podAnnotations" . | nindent 8 }}
    spec:
      {{- if .Values.priorityClass.create }}
      priorityClassName: trufflehog-enterprise
      {{- else if .Values.priorityClass.name }}
      priorityClassName: {{ .Values.priorityClass.name }}
      {{- else }}
      # no priority class, leave it up to the system
      {{- end }}
      {{- if .Values.tolerations }}
      tolerations:
        {{- toYaml .Values.tolerations | nindent 8 }}
      {{- end }}
      securityContext:
        {{- toYaml .Values.securityContext.pod | nindent 8 }}
      volumes:
        - name: config-secret-volume
          secret:
            secretName: {{ .Values.config.secretName }}
        {{- if .Values.persistence.enabled }}
        - name: persistence-volume
          {{- include "trufflehog.persistence.volume" . | nindent 10 }}
        {{- end }}
      containers:
        - name: trufflehog
          securityContext:
            {{- toYaml .Values.securityContext.container | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy | default "Always" }}
          terminationMessagePolicy: FallbackToLogsOnError
          {{- if .Values.extraEnvVars }}
          env:
            {{- include "trufflehog.envVars" . | nindent 12 }}
          {{- end }}
          {{- if or .Values.extraEnvVarsCM .Values.extraEnvVarsSecret }}
          envFrom:
            {{- if .Values.extraEnvVarsCM }}
            - configMapRef:
                name: {{ .Values.extraEnvVarsCM }}
            {{- end }}
            {{- if .Values.extraEnvVarsSecret }}
            - secretRef:
                name: {{ .Values.extraEnvVarsSecret }}
            {{- end }}
          {{- end }}
          command: ["/usr/local/bin/scanner", "scan", "--config=/secret/config.yaml", "--port=8080"]
          args:
            {{- if .Values.cli.debug }}
            - "--debug"
            {{- end }}
            {{- if .Values.cli.quiet }}
            - "--quiet"
            {{- end }}
            {{- if .Values.cli.trace }}
            - "--trace"
            {{- end }}
            {{- if .Values.cli.json }}
            - "--json"
            {{- end }}
          livenessProbe:
            httpGet:
              path: /healthz
              port: 8080
            initialDelaySeconds: {{ .Values.probe.initialDelaySeconds }}
            periodSeconds: {{ .Values.probe.periodSeconds }}
          volumeMounts:
            - name: config-secret-volume
              mountPath: /secret/
            {{- if .Values.persistence.enabled }}
            - name: persistence-volume
              mountPath: {{ .Values.persistence.mountPath }}
            {{- end }}
          resources:
            requests:
              memory: "{{ .Values.resources.requests.memory }}"
              cpu: "{{ .Values.resources.requests.cpu }}"
              ephemeral-storage: "{{ .Values.resources.requests.ephemeralStorage }}"
            {{- if .Values.resources.limits.enabled }}
            limits:
              {{- if .Values.resources.limits.memory }}
              memory: "{{ .Values.resources.limits.memory }}"
              {{- end }}
              {{- if .Values.resources.limits.cpu }}
              cpu: "{{ .Values.resources.limits.cpu }}"
              {{- end }}
              {{- if .Values.resources.limits.ephemeralStorage }}
              ephemeral-storage: "{{ .Values.resources.limits.ephemeralStorage }}"
              {{- end }}
            {{- end }}
