apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "trufflehog.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "trufflehog.labels" . | nindent 4 }}
  annotations:
    {{- include "trufflehog.annotations" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "trufflehog.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "trufflehog.podLabels" . | nindent 8 }}
      annotations:
        {{- include "trufflehog.podAnnotations" . | nindent 8 }}
    spec:
      {{- if .Values.priorityClass.create }}
      priorityClassName: trufflehog-enterprise
      {{- else if .Values.priorityClass.name }}
      priorityClassName: {{ .Values.priorityClass.name }}
      {{- else }}
      # no priority class, leave it up to the system
      {{- end }}
      securityContext:
        {{- toYaml .Values.securityContext.pod | nindent 8 }}
      {{- if .Values.ca.enabled }}
      initContainers:
        - name: update-ca-certificates
          securityContext:
            {{- toYaml .Values.securityContext.container | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy | default "Always" }}
          command: ["/bin/sh", "-c", "update-ca-certificates"]
          volumeMounts:
            - name: custom-certs
              mountPath: /usr/local/share/ca-certificates
              readOnly: true
            - name: ca-certificates
              mountPath: /etc/ssl/certs
      {{- end }}
      volumes:
        - name: config-secret-volume
          secret:
            secretName: {{ .Values.config.secretName }}
        {{- if .Values.ca.enabled }}
        - name: ca-certificates
          emptyDir: {}
        - name: custom-certs
          {{- if .Values.ca.configMap }}
          configMap:
            name: {{ .Values.ca.configMap }}
          {{- else if .Values.ca.secret }}
          secret:
            secretName: {{ .Values.ca.secret }}
          {{- else if .Values.ca.persistentVolumeClaim }}
          persistentVolumeClaim:
            claimName: {{ .Values.ca.persistentVolumeClaim }}
          {{- end }}
        {{- end }}
        {{- if .Values.custom.volumes }}
        {{- toYaml .Values.custom.volumes | nindent 8 }}
        {{- end }}
      containers:
        - name: trufflehog
          securityContext:
            {{- toYaml .Values.securityContext.container | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy | default "Always" }}
          terminationMessagePolicy: FallbackToLogsOnError
          {{- if .Values.custom.envVars }}
          env:
            {{- include "trufflehog.envVars" . | nindent 12 }}
          {{- end }}
          {{- if or .Values.custom.envVarsCM .Values.custom.envVarsSecret }}
          envFrom:
            {{- if .Values.custom.envVarsCM }}
            - configMapRef:
                name: {{ .Values.custom.envVarsCM }}
            {{- end }}
            {{- if .Values.custom.envVarsSecret }}
            - secretRef:
                name: {{ .Values.custom.envVarsSecret }}
            {{- end }}
          {{- end }}
          command: ["/usr/local/bin/scanner", "scan", "--config=/secret/config.yaml", "--port=8080"]
          args:
            {{- if .Values.cli.debug }}
            - "--debug"
            {{- end }}
            {{- if .Values.cli.quiet }}
            - "--quiet"
            {{- end }}
            {{- if .Values.cli.trace }}
            - "--trace"
            {{- end }}
            {{- if .Values.cli.json }}
            - "--json"
            {{- end }}
          livenessProbe:
            httpGet:
              path: /healthz
              port: 8080
            initialDelaySeconds: {{ .Values.probe.initialDelaySeconds }}
            periodSeconds: {{ .Values.probe.periodSeconds }}
          volumeMounts:
            {{- if .Values.custom.volumeMounts }}
            {{- toYaml .Values.custom.volumeMounts | nindent 12 }}
            {{- end }}
            - name: config-secret-volume
              mountPath: /secret/
            {{- if .Values.ca.enabled }}
            - name: custom-certs
              mountPath: /usr/local/share/ca-certificates
              readOnly: true
            - name: ca-certificates
              mountPath: /etc/ssl/certs
              readOnly: true
            {{- end }}
          resources:
            requests:
              memory: "{{ .Values.resources.requests.memory }}"
              cpu: "{{ .Values.resources.requests.cpu }}"
              ephemeral-storage: "{{ .Values.resources.requests.ephemeralStorage }}"
            {{- if .Values.resources.limits.enabled }}
            limits:
              {{- if .Values.resources.limits.memory }}
              memory: "{{ .Values.resources.limits.memory }}"
              {{- end }}
              {{- if .Values.resources.limits.cpu }}
              cpu: "{{ .Values.resources.limits.cpu }}"
              {{- end }}
              {{- if .Values.resources.limits.ephemeralStorage }}
              ephemeral-storage: "{{ .Values.resources.limits.ephemeralStorage }}"
              {{- end }}
            {{- end }}
